<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global.css">
    <title>Kids Filadelfia</title>
</head>
<body>
    <header>
        <!-- MENÚ SUPERIOR -->
        <nav class="contenedorMenuHorizontal">
            <ul class="menuHorizontal">
                <li><a href="../index.html">Iglesia</a>
                    <ul class="menuVertical">
                        <li><a href="#">Buzon de peticiones</a></li>
                        <li><a href="#">Anuncios</a></li>
                        <li><a href="#">Servicios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="./alabanza.html">Alabanza</a>
                </li>
                <li>
                    <a href="#">Kids</a>
                </li>
                <li><a href="./contacto.html">Contacto</a>
                    <ul class="menuVertical">
                        <li><a href="#">Donaciones</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="../img/kids.svg" alt="">
    </main>
    <footer>

    </footer>
</body>
</html>