main{
    position: relative;
    z-index: -1;
    background-image: url(../img/banner.png);
    padding-top: 26%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}
.principal{
    background-color: #fefefe;
    padding: 3em 0;
    width: 90vw;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em ;
    clear: left;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}
.mapa p{
    margin: 0 0 2em ;
    text-align: center;
}
.mapa-contenido{
    width: 97vw;
    margin: 0 auto;
}
